<div class="content-wrapper">
  <!-- Absolute centered background image -->
  <img
    src="assets/img/search_background.png"
    alt="Background Image"
    class="center-background"
  />

  <!-- Main content starts here -->
  <div class="container-center">
    <h1 class="title">IJAH Analytics</h1>
    <p class="description">
      Search and Predict Connectivity Between Plant, Compound, Protein, and
      Disease.
    </p>
    <!-- Input fields with labels and icons -->
    <div class="input-group-flex">
      <!-- Plant Filter -->
      <div class="input-wrapper">
        <label for="plantSelect">Plant</label>
        <div class="input-icon-container">
          <ng-select
            #ngSelect
            id="plant-select"
            class="custom-ng-select"
            [items]="filteredPlantList"
            bindLabel="name"
            [multiple]="true"
            [placeholder]="getPlantPlaceholder()"
            [(ngModel)]="selectedPlants"
            [virtualScroll]="true"
            [loading]="loading"
            [bufferAmount]="10"
            appendTo="body"
            [closeOnSelect]="false"
            [hideSelected]="true"
            [clearable]="false"
            [disabled]="isPlantDisabled()"
            (focus)="onFocus($event)"
            [searchable]="true"
            (search)="onSearchChange($event)"
            (open)="onOpen($event, 'plant')"
            (close)="onClose()"
            (select)="onSelect()"
            (add)="onAdd()"
          >
            <ng-template ng-option-tmp let-item="item">
              <span [title]="item.name">{{ item.name }}</span>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <!-- Compound Filter -->
      <div class="input-wrapper">
        <label for="compoundSelect">Compound</label>
        <div class="input-icon-container">
          <ng-select
            #ngSelect
            id="compound-select"
            class="custom-ng-select"
            [items]="filteredCompoundList"
            bindLabel="name"
            [multiple]="true"
            [placeholder]="getCompoundPlaceholder()"
            [(ngModel)]="selectedCompounds"
            [virtualScroll]="true"
            [loading]="loading"
            [bufferAmount]="10"
            appendTo="body"
            [closeOnSelect]="false"
            [hideSelected]="true"
            [clearable]="false"
            [disabled]="isCompoundDisabled()"
            (focus)="onFocus($event)"
            [searchable]="true"
            (search)="onSearchChange($event)"
            (open)="onOpen($event, 'compound')"
            (close)="onClose()"
            (select)="onSelect()"
            (add)="onAdd()"
          >
            <ng-template ng-option-tmp let-item="item">
              <span [title]="item.name">{{ item.name }}</span>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <!-- Protein Filter -->
      <div class="input-wrapper">
        <label for="proteinSelect">Protein</label>
        <div class="input-icon-container">
          <ng-select
            #ngSelect
            id="protein-select"
            class="custom-ng-select"
            [items]="filteredProteinList"
            bindLabel="name"
            [multiple]="true"
            [placeholder]="getProteinPlaceholder()"
            [(ngModel)]="selectedProteins"
            [virtualScroll]="true"
            [loading]="loading"
            [bufferAmount]="10"
            appendTo="body"
            [closeOnSelect]="false"
            [hideSelected]="true"
            [clearable]="false"
            [disabled]="isProteinDisabled()"
            (focus)="onFocus($event)"
            [searchable]="true"
            (search)="onSearchChange($event)"
            (open)="onOpen($event, 'protein')"
            (close)="onClose()"
            (select)="onSelect()"
            (add)="onAdd()"
          >
            <ng-template ng-option-tmp let-item="item">
              <span [title]="item.name">{{ item.name }}</span>
            </ng-template>
          </ng-select>
        </div>
      </div>

      <!-- Disease Filter -->
      <div class="input-wrapper">
        <label for="diseaseSelect">Disease</label>
        <div class="input-icon-container">
          <ng-select
            #ngSelect
            id="disease-select"
            class="custom-ng-select"
            [items]="filteredDiseaseList"
            bindLabel="name"
            [multiple]="true"
            [placeholder]="getDiseasePlaceholder()"
            [(ngModel)]="selectedDiseases"
            [virtualScroll]="true"
            [loading]="loading"
            [bufferAmount]="10"
            appendTo="body"
            [closeOnSelect]="false"
            [hideSelected]="true"
            [clearable]="false"
            [disabled]="isDiseaseDisabled()"
            (focus)="onFocus($event)"
            [searchable]="true"
            (search)="onSearchChange($event)"
            (open)="onOpen($event, 'disease')"
            (close)="onClose()"
            (select)="onSelect()"
            (add)="onAdd()"
          >
            <ng-template ng-option-tmp let-item="item">
              <span [title]="item.name">{{ item.name }}</span>
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>

    <!-- Button group -->
    <div class="btn-group-flex">
      <button class="btn btn-custom" (click)="onSearch()" [disabled]="loading">
        <span *ngIf="!loading">Search</span>
        <span *ngIf="loading">Searching...</span>
      </button>
      <button class="btn btn-custom" (click)="onReset()" [disabled]="loading">Reset</button>
    </div>

    <!-- Search Results -->
    <div class="results-container" *ngIf="searchResults">
      <h2>Search Results</h2>
      <div class="results-content">
        <pre>{{ searchResults | json }}</pre>
      </div>
    </div>
  </div>

  <p class="text-center footer-text">
    For guidance on how to use the site, visit our
    <a href="/help" class="text-decoration-none">Help/FAQ</a> section.
  </p>
</div>