<div class="container mt-5">
  <h1>About Us</h1>

  <!-- Principal Investigators Section -->
  <div class="row mb-4">
    <div class="col-md-6">
      <h4>Principal Investigators:</h4>
      <ul class="list-unstyled">
        <li>Dr. Wisnu Ananta Kusuma</li>
        <li>Dr. Sony Hartono Wijaya</li>
        <li>Rudi Heryanto, MSi</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>System Integration and Lead Programmer:</h4>
      <ul class="list-unstyled">
        <li>Vektor Dewanto</li>
      </ul>
    </div>
  </div>

  <!-- Programmers Section -->
  <div class="row mb-4">
    <div class="col-md-6">
      <h4>Programmers:</h4>
      <ul class="list-unstyled">
        <li><strong>Webserver:</strong></li>
        <li>Haekal Zidni Barkan</li>
        <li>Ivan Maulana</li>
        <li>Aries Fitriawan (Ijahv1)</li>
        <li>Yudha Kristanto (Ijahv1)</li>
      </ul>
      <ul class="list-unstyled">
        <li><strong>Database:</strong></li>
        <li>[Call for programmers]</li>
      </ul>
      <ul class="list-unstyled">
        <li><strong>Predictor:</strong></li>
        <li>Ajmal Kurnia</li>
        <li>Dhaba Widhiakari</li>
        <li>Muhammad Syahid Pebriadi</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Contributors:</h4>
      <ul class="list-unstyled">
        <li>Erna Harfiani</li>
      </ul>
    </div>
  </div>

  <!-- Offices Section -->
  <div class="row mb-4">
    <div class="col-md-6">
      <h4>Offices:</h4>
      <address>
        <strong
          ><a href="https://biofarmaka.ipb.ac.id/"
            >Tropical Biopharmaca Research Center</a
          ></strong
        ><br />
        Jalan Taman Kencana No.3,<br />
        Bogor, Indonesia<br />
      </address>
      <address>
        <strong
          ><a href="https://cs.ipb.ac.id/"
            >Computer Science Department</a
          ></strong
        ><br />
        Bogor Agricultural University (IPB)<br />
        Dramaga Campus, Bogor, Indonesia<br />
      </address>
    </div>
  </div>
</div>
