<div class="container-fluid mb-5 adjustable-margins">
  <section id="hero" class="position-relative">
    <!-- Hero Background -->
    <img
      id="Hero_Background"
      src="assets/img/HeroBackground.png"
      alt="Hero Background"
      class="hero-background"
    />

    <!-- Centered Logo -->
    <img
      src="assets/img/IPBLogo.png"
      alt="IPB Logo"
      class="hero-logo position-absolute"
    />
  </section>

  <!-- About IJAH Analytics Section -->
  <div class="d-flex flex-column flex-md-row align-items-center my-5">
    <!-- Title and Paragraphs -->
    <div>
      <div
        id="about_ijah"
        class="d-flex flex-column flex-md-row align-items-center align mx-5"
      >
        <!-- Logo -->
        <div class="order-1 order-md-1 text-center text-md-start me-md-4 pb-3">
          <!-- Placeholder for Logo -->
          <img
            src="assets/img/logo.png"
            alt="IJAH Logo"
            class="logo img-fluid"
          />
        </div>

        <!-- Text Content -->
        <div class="order-2">
          <h1>About IJAH Analytics</h1>
          <p class="text-justify mb-2">
            <strong>IJAH</strong> is an advanced platform designed to explore
            the intricate relationships between plants, compounds, proteins, and
            diseases. It enables researchers and practitioners to trace
            connections from natural sources to their potential therapeutic
            applications. Whether you're investigating the connectivity from
            plants to compounds and their impact on specific proteins and
            diseases, or seeking to identify which plants or compounds target
            certain health conditions, <strong>IJAH</strong> provides the
            insights you need.
          </p>
          <p class="text-justify">
            Additionally, the platform offers a robust system for validating
            traditional herbal compositions, such as Jamu formulas, by analyzing
            their efficacy through scientific data. By blending the wisdom of
            natural remedies with the precision of modern research,
            <strong>IJAH</strong> accelerates the discovery of plant-based
            therapies and promotes innovation in natural medicine.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <img class="w-100" src="assets/img/Lab.png" alt="STP_Tower" />
  </div>

  <section id="info-section" class="container">
    <div class="d-flex flex-row">
      <!-- Left Text Content -->
      <div class="d-flex flex-column">
        <h2>PUI-PT TropBRC</h2>
        <p>
          <strong>IJAH Analytics</strong> operates under the auspices of the
          Center of Excellence for Tropical Biodiversity Research and
          Conservation (<strong>PUI-PT TropBRC</strong>) at
          <strong>IPB University</strong>.
        </p>
      </div>

      <!-- Right Image Content -->
      <div class="image-content">
        <img src="assets/img/TropBRC.png" alt="Building Image" />
      </div>
    </div>
  </section>

  <!-- About Us Section -->
  <section id="the_team">
    <div class="mt-5">
      <h1>About Us</h1>

      <!-- Principal Investigators and System Integration Section -->
      <div class="d-flex flex-column flex-md-row mb-4">
        <!-- Principal Investigators -->
        <div class="flex-fill me-md-4">
          <h4>Principal Investigators:</h4>
          <ul class="list-unstyled">
            <li>Dr. Wisnu Ananta Kusuma</li>
            <li>Dr. Sony Hartono Wijaya</li>
            <li>Rudi Heryanto, MSi</li>
          </ul>
        </div>

        <!-- System Integration -->
        <div class="flex-fill">
          <h4>System Integration and Lead Programmer:</h4>
          <ul class="list-unstyled">
            <li>Vektor Dewanto</li>
          </ul>
        </div>
      </div>

      <!-- Programmers Section -->
      <div class="d-flex flex-column flex-md-row mb-4">
        <!-- Webserver Programmers -->
        <div class="flex-fill me-md-4">
          <h4>Programmers:</h4>
          <ul class="list-unstyled">
            <li><strong>Webserver:</strong></li>
            <li>Haekal Zidni Barkan</li>
            <li>Ivan Maulana</li>
            <li>Aries Fitriawan (Ijahv1)</li>
            <li>Yudha Kristanto (Ijahv1)</li>
          </ul>
          <ul class="list-unstyled">
            <li><strong>Database:</strong></li>
            <li>[Call for programmers]</li>
          </ul>
          <ul class="list-unstyled">
            <li><strong>Predictor:</strong></li>
            <li>Ajmal Kurnia</li>
            <li>Dhaba Widhiakari</li>
            <li>Muhammad Syahid Pebriadi</li>
          </ul>
        </div>

        <!-- Contributors -->
        <div class="flex-fill">
          <h4>Contributors:</h4>
          <ul class="list-unstyled">
            <li>Erna Harfiani</li>
          </ul>
        </div>
      </div>

      <!-- Offices Section -->
      <div class="d-flex flex-column flex-md-row mb-4">
        <div class="flex-fill">
          <h4>Offices:</h4>
          <address>
            <strong>
              <a href="https://biofarmaka.ipb.ac.id/"
                >Tropical Biopharmaca Research Center</a
              > </strong
            ><br />
            Jalan Taman Kencana No.3,<br />
            Bogor, Indonesia<br />
          </address>
          <address>
            <strong>
              <a href="https://cs.ipb.ac.id/"
                >Computer Science Department</a
              > </strong
            ><br />
            Bogor Agricultural University (IPB)<br />
            Dramaga Campus, Bogor, Indonesia<br />
          </address>
        </div>
      </div>
    </div>
  </section>
</div>
