<div class="container-fluid adjustable-margins full-height">
  <section id="hero" class="hero-section">
    <img
      id="Hero_Background"
      src="assets/img/HeroBackground.png"
      alt="Hero Background"
      class="hero-background"
    />
    <img src="assets/img/IPBLogo.png" alt="IPB Logo" class="hero-logo" />
  </section>

  <div class="content-section">
    <div class="image-container">
      <img
        src="assets/img/Gambar1.png"
        alt="Gambar 1"
        class="fixed-size fixed-size-1"
      />
    </div>
    <div class="text-container">
      <h2>Experience IJAH Analytics</h2>
      <p>
        Discover the tools you need to analyze and understand plant-based
        solutions for health and medicine. <br /><br />
        Click below and explore today.
      </p>
      <a href="#" class="btn btn-main-green">Start Now</a>
    </div>
  </div>

  <div class="content-section reverse">
    <div class="image-container">
      <img src="assets/img/Gambar2.png" alt="Gambar 2" class="fixed-size" />
    </div>
    <div class="text-container">
      <h2>Visit our Office</h2>
      <p>
        We are located at Jl. Taman Kencana No.3, RT.03/RW.03, Babakan,
        Kecamatan Bogor Tengah, Kota Bogor, Jawa Barat 16128 <br /><br />
        Feel free to visit us during working hours.
      </p>
    </div>
  </div>

  <!-- Bagian Peta -->
  <section class="full-width-map">
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.4752229693186!2d106.79886721085063!3d-6.587698793378441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c5bccacb1641%3A0x8ba4345a311eb4ee!2sTropBRC!5e0!3m2!1sen!2sid!4v1732503408472!5m2!1sen!2sid"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </section>

  <!-- Container Baru di Bawah Peta -->
  <div class="outer-container">
    <div class="inner-container">
      <div class="left-section">
        <h2 style="margin-bottom: 10px">Help us Improve</h2>
        <p style="margin-bottom: 10px">
          We value your feedback. If you have a testimonial, question,
          suggestion, or concern, please visit our Contact Us page to share your
          insights. Your input is essential to our continuous improvement.
        </p>
        <a routerLink="/contact" class="btn btn-main-green">Contact Us</a>
      </div>
      <div class="right-section">
        <img src="assets/img/LogoAbout.png" alt="Gambar Anda" />
      </div>
    </div>
  </div>

  <!-- Bagian IJAH Team -->
  <div class="team-section">
    <div class="container">
      <h2 class="section-title">IJAH Team</h2>
      <div class="team-container">
        <!-- Kolom Kiri -->
        <div class="team-column">
          <p>Principal Investigators</p>
          <ul>
            <li>Dr. Wisnu Ananta Kusuma</li>
            <li>Dr. Sony Hartono Wijaya</li>
            <li>Rudi Heryanto, M.Si</li>
          </ul>
          <p>System Integration and Lead Programmer</p>
          <ul>
            <li>Vektor Dewanto</li>
          </ul>
          <p>Programmers</p>
          <h5>Webserver</h5>
          <ul>
            <li>Haekal Zidni Barkan</li>
            <li>Ivan Maulana</li>
            <li>Aries Fitriawan (Ijah VI)</li>
            <li>Yudha Kristanto (Ijah VI)</li>
          </ul>
        </div>

        <!-- Kolom Kanan -->
        <div class="team-column">
          <p>Database</p>
          <ul>
            <li>[Call for Programmers]</li>
          </ul>
          <p>Predictor</p>
          <ul>
            <li>Ajmal Kurnia</li>
            <li>Dhaba Widhikari</li>
            <li>Muhammad Syahid Pebriadi</li>
          </ul>
          <p>Contributors</p>
          <ul>
            <li>Erna Harfiani</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>