<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <!-- Kiri: Logo -->
    <a class="navbar-brand" href="#">
      <img src="assets/img/LogoNew.png" alt="Logo" class="img-fluid" />
    </a>
    <!-- Tombol Hamburger -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar Konten -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Tengah: Menu -->
      <div class="navbar-center">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/help">Help/FAQ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/legacy">Legacy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/download">Download</a>
          </li>
        </ul>
      </div>
      <!-- Kanan: Contact Us -->
      <div class="navbar-right">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link fw-bold" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
