<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid justify-content-end">
    <!-- Kiri: Logo dan Badge -->
    <a class="navbar-brand d-flex align-items-center me-auto" href="#">
      <img src="assets/img/LogoNew.png" alt="Logo" class="img-fluid" />
    </a>

    <!-- Tombol Hamburger (untuk tampilan mobile) -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleCollapse()"
      [attr.aria-expanded]="!isCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Items -->
    <div class="collapse navbar-collapse" [class.show]="!isCollapsed">
      <!-- Menu Tengah -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" (click)="isCollapsed = true"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help" (click)="isCollapsed = true"
            >Help/FAQ</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/legacy" (click)="isCollapsed = true"
            >Legacy</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/download"
            (click)="isCollapsed = true"
            >Download</a
          >
        </li>
        <li class="nav-item">
          <a
            class="btn btn-success text-white fw-bold px-3"
            routerLink="/contact"
            (click)="isCollapsed = true"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
