<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/img/LogoNew.png" alt="Logo" class="img-fluid" />
    </a>

    <!-- Tombol Hamburger -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleCollapse()"
      [attr.aria-expanded]="!isCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu Navbar -->
    <div
      class="navbar-collapse collapse"
      [class.show]="!isCollapsed"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/about" (click)="isCollapsed = true"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/help" (click)="isCollapsed = true"
            >Help/FAQ</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/legacy" (click)="isCollapsed = true"
            >Legacy</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/download"
            (click)="isCollapsed = true"
            >Download</a
          >
        </li>
        <li class="nav-item d-lg-none">
          <!-- Contact Us ditampilkan dalam menu pada layar kecil -->
          <a
            class="nav-link fw-bold"
            routerLink="/contact"
            (click)="isCollapsed = true"
            >Contact Us</a
          >
        </li>
      </ul>
      <!-- Contact Us ditampilkan sebagai item terpisah pada layar lebar -->
      <ul class="navbar-nav d-none d-lg-flex">
        <li class="nav-item">
          <a class="nav-link fw-bold" routerLink="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
