/* Mengatur tinggi penuh untuk html dan body */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Wrapper Flexbox untuk memastikan layout kolom */
.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Menjaga tinggi minimal untuk memenuhi viewport */
}

/* Membuat konten tumbuh untuk memenuhi ruang di antara header dan footer */
.content {
  flex: 1;
}

/* Footer tetap berada di bagian bawah */
footer {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer small {
  color: #888;
}

#visitor-count {
  font-weight: bold;
  color: #007bff;
}
